// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation{
color: #000000;
margin-left: auto;
margin-right: auto;
}

#field{
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
}

.field_with_errors{
margin-left: auto;
margin-right: auto;
color: #000000;
}

body {
background-image: image-url('wood.jpg');
color: #FFFFFF;
text-align: center;
}

h1 {
text-align: center;
text-decoration:underline;
color: white;
}

p1 {
text-align: center;
color: white;
}

p2 {
text-align: center;
color: white;
}

table {
//width: 60%;
background-color: white;
margin-left: auto;
margin-right: auto;
}

table, td, th
{
border: 2px solid black;
color: black;
padding:10px;
}

th {
//background-color:black;
color:black;
font-size: 25px;
}

table 1 {
width: 20%;
background-color: white;
margin-left: auto;
margin-right: auto;
}

th 1 {
color: black;
font-size: 15px;
}

#searchbar {
background-color: white;
margin-left: auto;
margin-right: auto;

}

#user_nav {
background-color: white;
float: right;
}
